@font-face {
    font-family: "Chinook";
    src: url("font/Chinook-Freebie.otf");
}


body, main{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: black;
    overflow: hidden;
}

/*Background image styling*/
main{
    background-image: url(https://i.ibb.co/2d9MN7P/DSC-0339.jpg);
    background-size: cover;
    background-position: 0%;
    position:relative;
    z-index: 2;
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

/*Main button styling*/
#nav-toggle{
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left:50%;
    bottom: 3rem;
    transform: translateX(-50%);
    background-color: aqua;
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

/*Hover effect for nav button to stay in position*/
#nav-toggle:hover {
    transform: translateX(-50%) scale(1.04);
}

/*Hover effect for nav button to decrease size on mouse over*/
#nav-toggle:active{
    transform:translateX(-50%) scale(0.96);
}

/*Menu and X button styling and transition behaviour*/
#nav-toggle > i{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate (-50%, -50%) scale(0.9);
    color: rgb(88, 49, 185);
    font-size: 1.75rem;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function:ease;
    transition-duration: 400ms;
}

.parallax{

  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Menu icon behaviour on mouse over */
body:not([data-nav="true"]) > #nav-toggle:hover > .open{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/*X icon behaviour on click*/
body[data-nav="true"] > #nav-toggle > .close{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


body[data-nav="true"] > main{
    transform: translateY(-60%);
    transition-timing-function:ease;
    transition-duration: 400ms;
}

/*Nav behaviour on button click open*/
body[data-nav ="true"] > nav > #nav{
    transform: translate(0%) scale(1);
}

/*Nav styling for row*/
#nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:clamp(1rem, 2vh, 2rem);
    margin-top: clamp(2rem, 2vw, 3rem);
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(70%) scale(0.9);
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
    overflow: hidden;
}

#nav > .nav-link{
    text-decoration: none;
}

#nav > .nav-link > .nav-link-label{
    color: snow;
    font-size: 1.2rem;
    margin: 0rem;
    font-family: "Chinook", sans-serif;
    text-transform: uppercase;
    
}

#nav > .nav-link > .nav-link-image{
    width: max(10vw, 350px);
    aspect-ratio: 1.8 / 1;
    border-radius:0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
}

#nav > .nav-link > .nav-link-image:hover{
    transform: scale(105%);
    transition-timing-function: ease forwards;
    transition-duration: 400ms;  
}

nav{
    height: 50vh;
    width: 100%;
    position: absolute;
    left:0px;
    bottom: 0px;
    z-index: 1;
}


.container-main{
    display:grid;       
    grid-template-columns:repeat(2,1fr)
}

.row-one{
    padding:1px
}
/*Media Query Events*/
/*Menu */
@media screen and (max-width:842px){

    main{
        background-position: center ;
    }

    body[data-nav="true"] > main{
        transform: translateY(-90%);
    }

    nav{
        height: 90vh;
        display: flex;
    }

    #nav > .nav-link{
        width:50%
    }

    #nav > .nav-link > .nav-link-image{
        width:40%;
        height: 60%;
    }
}

 