body, main{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: black;
}

main{
    background-image: url(https://i.ibb.co/2d9MN7P/DSC-0339.jpg);
    background-size: cover;
    background-position: 0%;
    position:relative;
    z-index: 2;
}

#nav-toggle{
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left:50%;
    bottom: 3rem;
    transform: translateX(-50%);
    background-color: aqua;
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#nav-toggle:hover {
    transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active{
    transform:translateX(-50%) scale(0.96);
}

#nav-toggle > i{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate (-50%, -50%) scale(0.9);
    color: rgb(88, 49, 185);
    font-size: 1.75rem;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function:ease;
    transition-duration: 400ms;
}

body:not([data-nav="true"]) > #nav-toggle:hover > .open{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > #nav-toggle > .close{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

